[submodule "themes/hyde-x"]
	path = themes/hyde-x
	url = https://github.com/zyro/hyde-x
[submodule "public"]
	path = public
	url = git@github.com:diegoaceneves/diegoaceneves.github.io.git
	branch = master
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
